*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins', sans-serif;
}

body{
    background: #002339;
    color: #fff;
}

.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}
.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
}
.container h1{
    font-weight: 500;
    font-size: 45px;
}
.container h1 span{
    color: #019f55;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}
.display img{
    width: 15px;
    cursor: pointer;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 20px;
}
.container button{
    border: 0;
    outline: 0;
    color: #fff;
    background: #019f55;
    font-size: 22px;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 7px;
    cursor: pointer;
    padding: 1px 26px;
}